/* line 3, ../scss/main.scss */
* {
  outline: none;
}

/* line 8, ../scss/main.scss */
#domainSearch a, #domainSearch span, #domainSearch input, #domainSearch select, #domainSearch option, footer a, footer span, footer input, footer select, footer option, #menu a, #menu span, #menu input, #menu select, #menu option, #sign a, #sign span, #sign input, #sign select, #sign option, .off-canvas-list a, .off-canvas-list span, .off-canvas-list input, .off-canvas-list select, .off-canvas-list option {
  font-family: 'Abel', sans-serif;
}

/* line 13, ../scss/main.scss */
#homePage h3 {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 300;
  font-size: 2em;
}

/* line 20, ../scss/main.scss */
#bigrockTitle img {
  max-width: 200px;
  margin: 2%;
}
/* line 26, ../scss/main.scss */
#bigrockTitle span {
  vertical-align: bottom;
}

/* line 32, ../scss/main.scss */
#sign {
  margin-top: 2%;
}
/* line 37, ../scss/main.scss */
#sign li a {
  font-family: "source sans pro", sans-serif;
  font-size: 1em;
}

/* line 44, ../scss/main.scss */
#account {
  position: absolute;
  top: 15px;
}
/* line 48, ../scss/main.scss */
#account a {
  font-family: "source sans pro", sans-serif;
  font-size: 1em;
}
/* line 53, ../scss/main.scss */
#account .profilePic {
  padding: 10px;
  margin-right: 5px;
  background: url(../images/profile.png) no-repeat center;
}

/* line 60, ../scss/main.scss */
#menu {
  text-transform: uppercase;
  font-size: 3em;
  border: 4px solid #474747;
  border-left: none;
  border-right: none;
}
@media screen and (min-width: 900px) {
  /* line 60, ../scss/main.scss */
  #menu {
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #3a3a3a), color-stop(100%, #181818));
    background-image: -webkit-linear-gradient(#3a3a3a, #181818);
    background-image: -moz-linear-gradient(#3a3a3a, #181818);
    background-image: -o-linear-gradient(#3a3a3a, #181818);
    background-image: linear-gradient(#3a3a3a, #181818);
  }
  /* line 72, ../scss/main.scss */
  #menu .title-area li a {
    background: none;
  }
  /* line 75, ../scss/main.scss */
  #menu .title-area li a:hover {
    background: none;
  }
  /* line 81, ../scss/main.scss */
  #menu li {
    background: none;
  }
  /* line 83, ../scss/main.scss */
  #menu li a {
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #3a3a3a), color-stop(100%, #181818));
    background-image: -webkit-linear-gradient(#3a3a3a, #181818);
    background-image: -moz-linear-gradient(#3a3a3a, #181818);
    background-image: -o-linear-gradient(#3a3a3a, #181818);
    background-image: linear-gradient(#3a3a3a, #181818);
    -webkit-transition: background-image, 1s;
    -moz-transition: background-image, 1s;
    -o-transition: background-image, 1s;
    transition: background-image, 1s;
  }
  /* line 86, ../scss/main.scss */
  #menu li a:hover {
    background: #000;
    -webkit-transition: background-image, 1s;
    -moz-transition: background-image, 1s;
    -o-transition: background-image, 1s;
    transition: background-image, 1s;
  }
}
/* line 95, ../scss/main.scss */
#menu li {
  padding: 0;
}
/* line 99, ../scss/main.scss */
#menu a {
  font-size: 1.1rem;
}
@media screen and (max-width: 1000px) {
  /* line 60, ../scss/main.scss */
  #menu {
    overflow: auto;
  }
}

/* line 110, ../scss/main.scss */
#goToTop {
  padding: 40px;
  background: url("../images/goTop.png") no-repeat;
  -webkit-transition: -webkit-transform, 0.3s;
  -moz-transition: -moz-transform, 0.3s;
  -o-transition: -o-transform, 0.3s;
  transition: transform, 0.3s;
}
/* line 116, ../scss/main.scss */
#goToTop:hover {
  -webkit-transform: scale(1.05);
  -moz-transform: scale(1.05);
  -ms-transform: scale(1.05);
  -o-transform: scale(1.05);
  transform: scale(1.05);
  -webkit-transition: -webkit-transform, 0.3s;
  -moz-transition: -moz-transform, 0.3s;
  -o-transition: -o-transform, 0.3s;
  transition: transform, 0.3s;
}

/* line 126, ../scss/main.scss */
#mainContent {
  background-image: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 100, color-stop(0%, #ffffff), color-stop(100%, #c3c3c3));
  background-image: -webkit-radial-gradient(#ffffff, #c3c3c3);
  background-image: -moz-radial-gradient(#ffffff, #c3c3c3);
  background-image: -o-radial-gradient(#ffffff, #c3c3c3);
  background-image: radial-gradient(#ffffff, #c3c3c3);
}
/* line 130, ../scss/main.scss */
#mainContent * {
  font-family: "source sans pro", sans-serif;
}
/* line 134, ../scss/main.scss */
#mainContent li {
  font-size: 1.2em;
}

/* line 142, ../scss/main.scss */
#domainSearch h2 {
  font-family: "Abel", sans-serif;
  text-transform: uppercase;
  font-size: 3em;
}
@media screen and (max-width: 600px) {
  /* line 142, ../scss/main.scss */
  #domainSearch h2 {
    font-size: 2em;
  }
}
/* line 152, ../scss/main.scss */
#domainSearch h2 #searchIcon {
  padding: 25px;
  margin-right: 15px;
  background: url("../images/search.png") no-repeat center;
}
/* line 160, ../scss/main.scss */
#domainSearch select {
  padding: 0;
  margin: 0;
}
/* line 164, ../scss/main.scss */
#domainSearch select option {
  padding: 0;
  margin: 0;
}
/* line 170, ../scss/main.scss */
#domainSearch span, #domainSearch input, #domainSearch select, #domainSearch option {
  padding: 15px;
  height: 70px;
  font-family: 'Abel', sans-serif;
  font-size: 2rem;
}
@media screen and (max-width: 720px) {
  /* line 170, ../scss/main.scss */
  #domainSearch span, #domainSearch input, #domainSearch select, #domainSearch option {
    font-size: 1.3rem;
  }
}

/* line 185, ../scss/main.scss */
#whyUs h2 {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: bold;
  font-size: 4em;
}
/* line 191, ../scss/main.scss */
#whyUs p {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1em;
  line-height: 1.8;
}

/* line 200, ../scss/main.scss */
#whatsHot a.th {
  border: none;
}

/* line 206, ../scss/main.scss */
#testimonies p {
  font-family: 'Source Sans Pro', sans-serif;
}

/* line 213, ../scss/main.scss */
footer a {
  font-size: 1.1rem;
  text-transform: capitalize;
}
/* line 218, ../scss/main.scss */
footer .panel {
  margin-bottom: 0;
}

/* line 225, ../scss/main.scss */
#connect li a img {
  width: 70%;
  min-width: 100px;
  -webkit-transition: -webkit-transform, 0.3s;
  -moz-transition: -moz-transform, 0.3s;
  -o-transition: -o-transform, 0.3s;
  transition: transform, 0.3s;
}
/* line 230, ../scss/main.scss */
#connect li a img:hover {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
  transform: scale(1.1);
  -webkit-transition: -webkit-transform, 0.3s;
  -moz-transition: -moz-transform, 0.3s;
  -o-transition: -o-transform, 0.3s;
  transition: transform, 0.3s;
}

/* line 237, ../scss/main.scss */
.error {
  margin: 0;
}

/* line 241, ../scss/main.scss */
#checkout {
  background: #eb9022;
}
/* line 244, ../scss/main.scss */
#checkout:hover {
  background: #e5a731;
}
/* line 248, ../scss/main.scss */
#checkout #checkoutIcon {
  padding: 15px;
  margin-right: 15px;
  background: url("../images/checkout.png") no-repeat center;
}

/* line 256, ../scss/main.scss */
#domainTable, #similarTable {
  border-collapse: collapse;
  border: none;
}
/* line 262, ../scss/main.scss */
#domainTable tr:nth-of-type(even), #similarTable tr:nth-of-type(even) {
  background: none;
}
/* line 266, ../scss/main.scss */
#domainTable tr td, #similarTable tr td {
  margin: 0;
  font-size: 1em;
  background: none;
  border: 1px solid #cbcbcb;
  border-left: none;
  border-right: none;
  padding: 3px 3px;
}
/* line 275, ../scss/main.scss */
#domainTable tr td:first-child, #similarTable tr td:first-child {
  border-left: 1px solid #cbcbcb;
  padding-left: 15px;
}
/* line 280, ../scss/main.scss */
#domainTable tr td:last-child, #similarTable tr td:last-child {
  border-right: 1px solid #cbcbcb;
  margin-right: 5px;
}
/* line 285, ../scss/main.scss */
#domainTable tr td button, #similarTable tr td button {
  margin: 0;
}
/* line 287, ../scss/main.scss */
#domainTable tr td button .small, #similarTable tr td button .small {
  font-size: 1em;
}
/* line 292, ../scss/main.scss */
#domainTable tr td .button.small, #similarTable tr td .button.small {
  font-size: 1em;
}
/* line 296, ../scss/main.scss */
#domainTable tr td .cart-add, #similarTable tr td .cart-add {
  background: #44b649;
  background-image: url("../images/cart.png");
  background-repeat: no-repeat;
  background-position: top center;
  outline: none;
  -webkit-transition: background-image, 0.5s;
  -moz-transition: background-image, 0.5s;
  -o-transition: background-image, 0.5s;
  transition: background-image, 0.5s;
  height: 45px;
  width: 120px;
}
@media screen and (max-width: 600px) {
  /* line 296, ../scss/main.scss */
  #domainTable tr td .cart-add, #similarTable tr td .cart-add {
    width: 55px;
    background-position: top right;
    padding: 1px;
    border-radius: 10%;
  }
}
/* line 314, ../scss/main.scss */
#domainTable tr td .cart-add:hover, #similarTable tr td .cart-add:hover {
  background-color: #16a227;
  background-image: url("../images/cart.png");
  -webkit-transition: background-image, 0.5s;
  -moz-transition: background-image, 0.5s;
  -o-transition: background-image, 0.5s;
  transition: background-image, 0.5s;
}
/* line 321, ../scss/main.scss */
#domainTable tr td .cart-remove, #similarTable tr td .cart-remove {
  background-color: #b73a11;
  background-image: url("../images/cart.png");
  background-position: bottom center;
  -webkit-transition: background-image, 0.5s;
  -moz-transition: background-image, 0.5s;
  -o-transition: background-image, 0.5s;
  transition: background-image, 0.5s;
}
@media screen and (max-width: 600px) {
  /* line 321, ../scss/main.scss */
  #domainTable tr td .cart-remove, #similarTable tr td .cart-remove {
    background-position: bottom right;
  }
}
/* line 331, ../scss/main.scss */
#domainTable tr td .cart-remove:hover, #similarTable tr td .cart-remove:hover {
  background-color: #cb4113;
  -webkit-transition: background-image, 0.5s;
  -moz-transition: background-image, 0.5s;
  -o-transition: background-image, 0.5s;
  transition: background-image, 0.5s;
}
/* line 337, ../scss/main.scss */
#domainTable tr td .wish-add, #similarTable tr td .wish-add {
  background: #bfc26d;
  background-image: url("../images/wishlist.png");
  background-repeat: no-repeat;
  background-position: top center;
  outline: none;
  -webkit-transition: background-image, 0.5s;
  -moz-transition: background-image, 0.5s;
  -o-transition: background-image, 0.5s;
  transition: background-image, 0.5s;
  height: 45px;
  width: 120px;
}
@media screen and (max-width: 800px) {
  /* line 337, ../scss/main.scss */
  #domainTable tr td .wish-add, #similarTable tr td .wish-add {
    width: 48px;
    background-position: top right;
    padding: 0;
  }
}
/* line 354, ../scss/main.scss */
#domainTable tr td .wish-add:hover, #similarTable tr td .wish-add:hover {
  background-color: #c7c02c;
  background-image: url("../images/wishlist.png");
  -webkit-transition: background-image, 0.5s;
  -moz-transition: background-image, 0.5s;
  -o-transition: background-image, 0.5s;
  transition: background-image, 0.5s;
}
/* line 361, ../scss/main.scss */
#domainTable tr td .wish-remove, #similarTable tr td .wish-remove {
  background-color: #c5cbc2;
  background-image: url("../images/wishlist.png");
  background-position: bottom center;
  -webkit-transition: background-image, 0.5s;
  -moz-transition: background-image, 0.5s;
  -o-transition: background-image, 0.5s;
  transition: background-image, 0.5s;
}
@media screen and (max-width: 800px) {
  /* line 361, ../scss/main.scss */
  #domainTable tr td .wish-remove, #similarTable tr td .wish-remove {
    background-position: bottom right;
  }
}
/* line 371, ../scss/main.scss */
#domainTable tr td .wish-remove:hover, #similarTable tr td .wish-remove:hover {
  background-color: #bcbabb;
  -webkit-transition: background-image, 0.5s;
  -moz-transition: background-image, 0.5s;
  -o-transition: background-image, 0.5s;
  transition: background-image, 0.5s;
}
/* line 377, ../scss/main.scss */
#domainTable tr td .wish-add[disabled], #similarTable tr td .wish-add[disabled] {
  background-color: #c6c6c6;
  background-image: url("../images/wishlist.png");
}
/* line 382, ../scss/main.scss */
#domainTable tr td .cart-add[disabled], #similarTable tr td .cart-add[disabled] {
  background-color: #c6c6c6;
  background-image: url("../images/cart.png");
}
/* line 390, ../scss/main.scss */
#domainTable .available, #similarTable .available {
  color: #00b700;
}
/* line 393, ../scss/main.scss */
#domainTable .available span, #similarTable .available span {
  padding: 23px;
  background: url("../images/available.png") center no-repeat;
  margin-right: 5px;
}
/* line 400, ../scss/main.scss */
#domainTable .unavailable, #similarTable .unavailable {
  color: #b71e0c;
}
/* line 403, ../scss/main.scss */
#domainTable .unavailable span, #similarTable .unavailable span {
  padding: 23px;
  background: url("../images/unavailable.png") center no-repeat;
  margin-right: 5px;
}

/* line 412, ../scss/main.scss */
#cart {
  margin: 10px auto 10px auto;
}
/* line 416, ../scss/main.scss */
#cart li {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1.2em;
}
/* line 421, ../scss/main.scss */
#cart .panel {
  padding: 3px;
}
/* line 426, ../scss/main.scss */
#cart li:first-child, #cart li:nth-child(2) {
  margin-top: 10px;
}
/* line 431, ../scss/main.scss */
#cart * {
  margin: 0;
}
/* line 433, ../scss/main.scss */
#cart * :not(a) {
  padding: 0;
}
/* line 438, ../scss/main.scss */
#cart a {
  font-size: 1.2em;
  font-family: 'Source Sans Pro', sans-serif;
}
/* line 442, ../scss/main.scss */
#cart a small {
  padding: 15px;
  margin: 0 15px 0 15px;
  background: url("../images/payment.png") no-repeat center;
}

/* line 451, ../scss/main.scss */
.right-off-canvas-menu {
  background: #e8e8e8;
  border-left: 5px solid #CECECE;
}
/* line 455, ../scss/main.scss */
.right-off-canvas-menu .off-canvas-list {
  font-size: 1.2em;
}
/* line 457, ../scss/main.scss */
.right-off-canvas-menu .off-canvas-list li {
  -webkit-transition: background, 0.5s;
  -moz-transition: background, 0.5s;
  -o-transition: background, 0.5s;
  transition: background, 0.5s;
}
/* line 460, ../scss/main.scss */
.right-off-canvas-menu .off-canvas-list li a {
  color: black;
  border-bottom: 1px solid #D3D3D3;
}
/* line 465, ../scss/main.scss */
.right-off-canvas-menu .off-canvas-list li a#order small {
  padding: 15px;
  margin-right: 15px;
  background: url("../images/order.png") no-repeat center;
}
/* line 473, ../scss/main.scss */
.right-off-canvas-menu .off-canvas-list li a#wish small {
  padding: 15px;
  margin-right: 15px;
  background: url("../images/wish.png") no-repeat center;
}
/* line 481, ../scss/main.scss */
.right-off-canvas-menu .off-canvas-list li a#pref small {
  padding: 15px;
  margin-right: 15px;
  background: url("../images/pref.png") no-repeat center;
}
/* line 489, ../scss/main.scss */
.right-off-canvas-menu .off-canvas-list li a#help small {
  padding: 15px;
  margin-right: 15px;
  background: url("../images/help.png") no-repeat center;
}
/* line 497, ../scss/main.scss */
.right-off-canvas-menu .off-canvas-list li a#logout small {
  padding: 15px;
  margin-right: 15px;
  background: url("../images/logout.png") no-repeat center;
}
/* line 506, ../scss/main.scss */
.right-off-canvas-menu .off-canvas-list li label {
  background: #D5D5D5;
  color: #747474;
}
/* line 511, ../scss/main.scss */
.right-off-canvas-menu .off-canvas-list li:hover {
  background: #c0c0c0;
  -webkit-transition: background, 0.5s;
  -moz-transition: background, 0.5s;
  -o-transition: background, 0.5s;
  transition: background, 0.5s;
}

/* line 520, ../scss/main.scss */
#orderSummary h3 {
  font-family: 'Source Sans Pro', sans-serif;
}

/* line 524, ../scss/main.scss */
.items {
  padding: 0;
  /*  .similar, .remove{
      background: #a3a3a3;
      color: white;

      &:hover{
        background: #b3b3b3;
        color: white;
      }
    }*/
}
/* line 527, ../scss/main.scss */
.items h2, .items li {
  font-family: 'Source Sans Pro', sans-serif;
}
/* line 531, ../scss/main.scss */
.items select {
  font-size: 1.5em;
  line-height: 1.5;
  margin: 0;
}
@media screen and (max-width: 835px) {
  /* line 531, ../scss/main.scss */
  .items select {
    font-size: 1.3em;
  }
}
/* line 540, ../scss/main.scss */
.items select option {
  font-size: 2em;
}
@media screen and (max-width: 835px) {
  /* line 545, ../scss/main.scss */
  .items h2, .items h3 {
    font-size: 1.3em;
  }
}
/* line 551, ../scss/main.scss */
.items h2 .website, .items h3 .website {
  padding: 16px;
  margin-right: 10px;
  background: url("../images/internet.png") no-repeat center;
}
/* line 557, ../scss/main.scss */
.items h2 .hosting, .items h3 .hosting {
  padding: 16px;
  margin-right: 10px;
  background: url("../images/hosting.png") no-repeat center;
}
/* line 563, ../scss/main.scss */
.items h2 .email, .items h3 .email {
  padding: 16px;
  margin-right: 10px;
  background: url("../images/email.png") no-repeat center;
}
/* line 569, ../scss/main.scss */
.items h2 .design, .items h3 .design {
  padding: 16px;
  margin-right: 10px;
  background: url("../images/design.png") no-repeat center;
}
/* line 575, ../scss/main.scss */
.items h2 .remove, .items h3 .remove {
  padding: 15px;
  background: url("../images/remove.png") no-repeat center;
  margin-right: 10px;
  -webkit-transition: -webkit-transform 0.3s;
  -moz-transition: -moz-transform 0.3s;
  -o-transition: -o-transform 0.3s;
  transition: transform 0.3s;
}
/* line 581, ../scss/main.scss */
.items h2 .remove:hover, .items h3 .remove:hover {
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -o-transform: scale(1.2);
  transform: scale(1.2);
  -webkit-transition: -webkit-transform 0.3s;
  -moz-transition: -moz-transform 0.3s;
  -o-transition: -o-transform 0.3s;
  transition: transform 0.3s;
}
/* line 589, ../scss/main.scss */
.items p {
  margin-left: 50px;
  font-family: 'Source Sans Pro', sans-serif;
  color: #656669;
}
@media screen and (min-width: 1030px) {
  /* line 595, ../scss/main.scss */
  .items .addons {
    padding-left: 40px;
    margin-left: 20px;
  }
}
/* line 602, ../scss/main.scss */
.items .free {
  background: #43ad80;
  color: white;
}
/* line 606, ../scss/main.scss */
.items .free:hover {
  color: white;
  background: #4eca95;
}

/* line 624, ../scss/main.scss */
.proceedPayment {
  background: #00b246;
  font-family: 'helvetica neue-light', sans-serif;
}
/* line 628, ../scss/main.scss */
.proceedPayment:hover {
  background: #32c551;
}
/* line 632, ../scss/main.scss */
.proceedPayment small {
  position: absolute;
  padding: 15px;
  margin-left: 15px;
  margin-top: -3px;
  background: url("../images/payment.png") no-repeat center;
}

/* line 642, ../scss/main.scss */
#coupon .button {
  background: #e6d343;
}
/* line 645, ../scss/main.scss */
#coupon .button:hover {
  background: #f1ca16;
}
/* line 650, ../scss/main.scss */
#coupon #couponConditions {
  margin: 5px 0 15px 0;
  padding-top: 0;
}

/* line 656, ../scss/main.scss */
.extra {
  background: #f4f4f4;
  border: .2em solid #ffffff;
  padding: 0;
  margin-bottom: 15px;
}
/* line 663, ../scss/main.scss */
.extra select {
  width: 90%;
}
/* line 667, ../scss/main.scss */
.extra .plansButton {
  background: #d8d8d8;
}
/* line 670, ../scss/main.scss */
.extra .plansButton:hover {
  background: #d0d0d0;
}
/* line 675, ../scss/main.scss */
.extra .plansAdd {
  background: #14a6c8;
}
/* line 678, ../scss/main.scss */
.extra .plansAdd:hover {
  background: #16b8de;
}

/* line 684, ../scss/main.scss */
#proceed {
  background: #00b246;
  font-family: 'helvetica neue-light', sans-serif;
  font-size: 1.3em;
}
/* line 689, ../scss/main.scss */
#proceed:hover {
  background: #32c551;
}

/* line 696, ../scss/main.scss */
#payment li {
  margin: 0 0 15px 0;
}
/* line 700, ../scss/main.scss */
#payment label {
  margin-left: 40px;
}

/* line 705, ../scss/main.scss */
.iradio_polaris {
  position: absolute;
  margin-top: -4px;
}

/* line 710, ../scss/main.scss */
.select2-search {
  margin: 10px 0;
}

/* line 716, ../scss/main.scss */
#signUpForm .select2-container {
  width: 100%;
}
/* line 719, ../scss/main.scss */
#signUpForm .select2-container .select2-choice {
  height: 36px;
  padding: 4px 0 0 8px;
}
/* line 725, ../scss/main.scss */
#signUpForm label {
  margin-left: 40px;
}
/* line 729, ../scss/main.scss */
#signUpForm #signUp_Submit {
  margin: 1.25rem 0 0 0;
}

/* line 734, ../scss/main.scss */
.icheckbox_square-blue {
  position: absolute;
}
