
@import 'compass';

*{
  outline: none;
}

#domainSearch,footer,#menu, #sign,.off-canvas-list{
  a,span,input,select,option{
    font-family:  'Abel', sans-serif;
  }
}

#homePage h3{
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 300;
  font-size: 2em;
}


#bigrockTitle{
  img{
    max-width: 200px;
    margin: 2%;

  }

  span{
    vertical-align: bottom;
  }

}

#sign {

  margin-top: 2%;

  li{
    a{
      font-family: "source sans pro", sans-serif;
      font-size: 1em;
    }
  }
}

#account{
  position: absolute;
  top: 15px;

  a{
    font-family: "source sans pro", sans-serif;
    font-size: 1em;
  }

  .profilePic{
    padding: 10px;
    margin-right: 5px;
    background: url(../images/profile.png) no-repeat center;
  }
}



#menu{
  text-transform: uppercase;
  font-size: 3em;

  border: 4px solid #474747;
  border-left: none;
  border-right:none ;


  @media screen and (min-width: 900px) {

    @include background-image(linear_gradient(#3a3a3a, #181818));

      .title-area li a{
        background: none;

        &:hover{
          background: none;
        }

      }


    li{
      background: none;
      a{
        @include background-image(linear_gradient(#3a3a3a, #181818));
        @include transition(background-image,1s);
        &:hover{
          background: #000;
          @include transition(background-image,1s);
        }
      }

    }
  }



  li{
    padding: 0;
  }

  a{

    font-size: 1.1rem;
  }

  @media screen and (max-width: 1000px){
    overflow: auto;
  }

}

#goToTop{

  padding: 40px;
  background: url("../images/goTop.png") no-repeat;
  @include transition(transform,.3s);

  &:hover{
    @include transform(scale(1.05));
    @include transition(transform,.3s);
  }
}


.top-bar-section ul {

}


#mainContent{

  @include background-image(radial_gradient(#fff, #c3c3c3));

  *{
    font-family: "source sans pro", sans-serif;
  }

  li{
    font-size: 1.2em;
  }

}

#domainSearch{


  h2{
    font-family: "Abel", sans-serif;
    text-transform: uppercase;
    font-size: 3em;

    #searchIcon{
      padding: 25px;
      margin-right: 15px;
      background: url("../images/search.png") no-repeat center;
    }

    select{
      padding:0 ;
      margin: 0;

      option{
        padding:0 ;
        margin: 0;
      }
    }

  }


  span,input,select,option{
    padding: 15px;
    height: 70px;
    font-family:  'Abel', sans-serif;
    font-size: 2rem;



    @media screen and (max-width: 720px) {
      font-size: 1.3rem;
    }

  }
}



#whyUs{

  h2{
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: bold;
    font-size: 4em;
  }

  p{
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1em;
    line-height: 1.8;
  }

}

#whatsHot{
  a.th{
    border: none;
  }
}

#testimonies{
  p{
    font-family: 'Source Sans Pro', sans-serif;
  }
}




footer {

  a{
  font-size: 1.1rem;
  text-transform: capitalize;
  }

  .panel{
    margin-bottom: 0;
  }
}

#connect{


  li a img{
    width: 70%;
    min-width: 100px;


    @include transition(transform,.3s);
    &:hover{
      @include transform(scale(1.1));
      @include transition(transform,.3s);
    }
  }
}



.error{
  margin: 0;
}


  #checkout{
    background: #eb9022;

    &:hover{
      background: #e5a731;
    }

    #checkoutIcon{
      padding: 15px;
      margin-right: 15px;

      background: url("../images/checkout.png") no-repeat center;
    }
  }


  #domainTable, #similarTable{
    border-collapse: collapse;
    border: none;

    tr{

      &:nth-of-type(even){
        background: none;
      }

      td{
        margin: 0;
        font-size: 1em;
        background: none;
        border: 1px solid #cbcbcb;
        border-left: none;
        border-right: none;
        padding: 3px 3px;

        &:first-child{
          border-left: 1px solid #cbcbcb;
          padding-left: 15px;
        }

        &:last-child{
          border-right: 1px solid #cbcbcb;
          margin-right: 5px;
        }

        button{
          margin: 0;
          .small{
            font-size: 1em;
          }
        }

        .button.small{
          font-size: 1em;
        }

        .cart-add{
          background: #44b649;
          background-image: url("../images/cart.png");
          background-repeat: no-repeat;
          background-position: top center;
          outline: none;
          @include transition(background-image,.5s);

          height: 45px;
          width: 120px;

          @media screen and (max-width: 600px) {
            width: 55px;
            background-position: top right;
            padding: 1px;
            border-radius: 10%;
          }


          &:hover{
            background-color: #16a227;
            background-image: url("../images/cart.png");
            @include transition(background-image,.5s)
          }
        }

        .cart-remove{
          background-color: #b73a11;
          background-image: url("../images/cart.png");
          background-position: bottom center;
          @include transition(background-image,.5s);

          @media screen and (max-width: 600px) {
            background-position: bottom right;
          }

          &:hover{
            background-color: #cb4113;
            @include transition(background-image,.5s);
          }
        }

        .wish-add{
          background: #bfc26d;
          background-image: url("../images/wishlist.png");
          background-repeat: no-repeat;
          background-position: top center;
          outline: none;
          @include transition(background-image,.5s);

          height: 45px;
          width: 120px;

          @media screen and (max-width: 800px) {
            width: 48px;
            background-position: top right;
            padding: 0;
          }


          &:hover{
            background-color: #c7c02c;
            background-image: url("../images/wishlist.png");
            @include transition(background-image,.5s)
          }
        }

        .wish-remove{
          background-color: #c5cbc2;
          background-image: url("../images/wishlist.png");
          background-position: bottom center;
          @include transition(background-image,.5s);

          @media screen and (max-width: 800px) {
            background-position: bottom right;
          }

          &:hover{
            background-color: #bcbabb;
            @include transition(background-image,.5s);
          }
        }

        .wish-add[disabled]{
          background-color: #c6c6c6;
          background-image: url("../images/wishlist.png");
        }

        .cart-add[disabled]{
          background-color: #c6c6c6;
          background-image: url("../images/cart.png");
        }



      }
    }

    .available{
      color: #00b700;

      span{
        padding: 23px;
        background: url("../images/available.png") center no-repeat;
        margin-right: 5px;
      }
    }

    .unavailable{
      color: #b71e0c;

      span{
        padding: 23px;
        background: url("../images/unavailable.png") center no-repeat;
        margin-right: 5px;
      }
    }

  }



#cart{

  margin: 10px auto 10px auto;

  li{
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1.2em;
  }

  .panel{
    padding: 3px;
  }

  li{
    &:first-child , &:nth-child(2){
      margin-top: 10px;
    }
  }

  *{

    :not(a){
      padding: 0;
    }
    margin: 0;
  }
  a{
    font-size: 1.2em;
    font-family: 'Source Sans Pro', sans-serif;

    small{
      padding: 15px;
      margin: 0 15px 0 15px;
      background: url("../images/payment.png") no-repeat center;
    }
  }


}



.right-off-canvas-menu{
  background: #e8e8e8;
  border-left: 5px solid #CECECE;

  .off-canvas-list{
    font-size: 1.2em;
    li{
      @include transition(background,.5s);

      a{
        color: rgb(0, 0, 0);
        border-bottom:1px solid #D3D3D3;

        &#order{
          small{
            padding: 15px;
            margin-right: 15px;
            background: url("../images/order.png") no-repeat center;
          }
        }

        &#wish{
          small{
            padding: 15px;
            margin-right: 15px;
            background: url("../images/wish.png") no-repeat center;
          }
        }

        &#pref{
          small{
            padding: 15px;
            margin-right: 15px;
            background: url("../images/pref.png") no-repeat center;
          }
        }

        &#help{
          small{
            padding: 15px;
            margin-right: 15px;
            background: url("../images/help.png") no-repeat center;
          }
        }

        &#logout{
          small{
            padding: 15px;
            margin-right: 15px;
            background: url("../images/logout.png") no-repeat center;
          }
        }

      }

      label{
        background: #D5D5D5;
        color: #747474;
      }

      &:hover{
        background: #c0c0c0;
        @include transition(background,.5s);
      }
    }

  }
}


#orderSummary h3{
  font-family: 'Source Sans Pro', sans-serif;
}



.items{
  padding: 0;

  h2,li{
    font-family: 'Source Sans Pro', sans-serif;
  }


  select{
    font-size: 1.5em;
    line-height: 1.5;
    margin: 0;

    @media screen and (max-width: 835px) {
      font-size: 1.3em;
    }

    option{
      font-size: 2em;
    }
  }


  h2,h3{

    @media screen and (max-width: 835px) {
      font-size: 1.3em;
    }

    .website{
      padding: 16px;
      margin-right: 10px;
      background: url("../images/internet.png") no-repeat center;
    }

    .hosting{
      padding: 16px;
      margin-right: 10px;
      background: url("../images/hosting.png") no-repeat center;
    }

    .email{
      padding: 16px;
      margin-right: 10px;
      background: url("../images/email.png") no-repeat center;
    }

    .design{
      padding: 16px;
      margin-right: 10px;
      background: url("../images/design.png") no-repeat center;
    }

    .remove{
      padding: 15px;
      background: url("../images/remove.png")  no-repeat center;
      margin-right: 10px;
      @include transition(transform .3s);

      &:hover{
        @include transform(scale(1.2));
        @include transition(transform .3s);
      }
  }



  }

  p{
    margin-left: 50px;
    font-family: 'Source Sans Pro', sans-serif;
    color: #656669;
  }

  .addons{
    @media screen and (min-width: 1030px) {
      padding-left: 40px;
      margin-left: 20px;
    }
  }

  .free{
    background: #43ad80;
    color: white;

    &:hover{
      color: white;
      background: #4eca95;
    }
  }

/*  .similar, .remove{
    background: #a3a3a3;
    color: white;

    &:hover{
      background: #b3b3b3;
      color: white;
    }
  }*/

}




.proceedPayment{
  background: #00b246;
  font-family: 'helvetica neue-light', sans-serif;

  &:hover{
    background: #32c551;
  }


  small{
    position: absolute;
    padding: 15px;
    margin-left: 15px;
    margin-top: -3px;
    background: url("../images/payment.png") no-repeat center;
  }
}

#coupon{
  .button{
    background: #e6d343;

    &:hover{
      background: #f1ca16;
    }
  }

  #couponConditions{
    margin: 5px 0 15px 0;
    padding-top: 0;
  }
}

.extra{

  background: #f4f4f4;
  border: .2em solid #ffffff;
  padding: 0;
  margin-bottom: 15px;

  select{
    width: 90%;
  }

  .plansButton{
    background: #d8d8d8;

    &:hover{
      background: #d0d0d0;
    }
  }

  .plansAdd{
    background: #14a6c8;

    &:hover{
      background: #16b8de;
    }
  }
}

#proceed{
  background: #00b246;
  font-family: 'helvetica neue-light', sans-serif;
  font-size: 1.3em;

  &:hover{
    background: #32c551;
  }
}

#payment{

  li{
    margin: 0 0 15px 0;
  }

  label{
    margin-left: 40px;
  }
}

.iradio_polaris{
  position: absolute;
  margin-top: -4px;
}

.select2-search{
  margin: 10px 0;
}



#signUpForm{

  .select2-container{
    width: 100%;

    .select2-choice{
      height: 36px;
      padding: 4px 0 0 8px;
    }
  }


  label{
    margin-left: 40px;
  }

  #signUp_Submit{
    margin: 1.25rem 0 0 0;
  }
}

.icheckbox_square-blue{
  position: absolute;
}


